.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 100px;
    position: relative;
    background-color: #9C248E;
    color: #fff; 
}

.footer::after {
    display: block;
    content: "";
    background-image: url(./../../img/footer/footer-bg.png);
    background-position: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 50%;
    z-index: 1;
}

.footer-contacts {
    max-width: 400px;
    position: relative;
    z-index: 2;
}

.footer-caption {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-contacts-text {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.2;
}

.footer-contacts-icons-wrapper {
    display: flex;
}

.footer-contacts-icon-link {
    display: block;
    width: 40px;
    height: 40px;

}

.footer-contacts-icon-link:not(:last-child) {
    margin-right: 10px;
}

.footer-links-column {
    padding: 0 10px;
    position: relative;
    z-index: 2;
}

.footer-links-list {

}

.footer-list-item {

}

.footer-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-link {
    display: inline-block;
    color: #fff;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-form {
    max-width: 400px;
    position: relative;
    z-index: 2;
}

#feedback-form {

}

.feedback-form-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.2;
}

.feedback-form-input {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

.feedback-form-input::placeholder {
    color: #fff;
}

.feedback-form-button {
    padding: 20px 30px;
    border: none;
    background-color: rgb(218, 0, 127);
    color: #fff;
    text-transform: uppercase;
    transition: background-color .2s ease-in;
}

.feedback-form-button:hover {
    background-color: rgb(80, 3, 48);
}

@media screen and (max-width: 992px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-caption {
        text-align: center;
    }

    .footer-contacts {
        margin-bottom: 20px;
    }

    .footer-contacts-icons-wrapper {
        justify-content: center;
    }

    .footer-links-column {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-links-list {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-list-item:not(:last-child) {
        margin-right: 10px;
    }
    
}

@media screen and (max-width: 480px) {
    .footer {
        padding: 30px 10px 50px;
    }
}